.post-box{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    margin: 30px 150px;
    border-radius: 10px;
    padding: 30px;
}

.post-image {
    margin: auto;
    width: 800px;
    height: auto;

}

.post-header > img {
    float: left;
    padding: 10px 0;
    height: 50px;
    width: auto;
}

.post-header > div {
    float: right;
}

.likeIcon {
    float: left;
    width: 80px;
    height: auto;
}

footer div{
    text-align: center;
    font-size: 20px;
}

p + img{
    margin: -20px;
}
