.wide-box {
    background-color: darkgrey;
    overflow: hidden;
    min-height: 40px;
    border-radius: 10px;
    padding: 7px 8px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.wide-box a {
    float: left;
    color: black;
    margin-top: 9px;
    padding: 4px;
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
}

.wide-box a:hover {
    background-color: yellow;
}

.logo-image {
    float: right;
    padding: 7px 8px;
}

#user-logo {
    height: 30px;
    width: auto;
}

.post-box{
    background-color: lightgray;
    width: auto;
    display: flex;
    flex-direction: column;

    margin: 10px 30px;
    border-radius: 10px;
    padding: 30px;
}

nav{
    margin-left: 15px;
}